:root {
  --color-1: #f0d2ce;
  --color-2: #222;
  --color-3: #ecc5c0;

  --spacing: 1em;
}
body {
  background-color: var(--color-3);
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.App {
  padding: calc(var(--spacing) * 2);
  border: 1px solid var(--color-2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: var(--spacing);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.weather-list {
  display: flex;
  gap: var(--spacing);
}
.weather {
  background-color: var( --color-1);
  padding: calc(var(--spacing) / 2);
  
}
.town-input {
  background-color: var(--color-1);
  border: none;
  padding: calc(var(--spacing));

}
.town-input:focus {
  outline: none
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
