@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
    p {
        text-transform: none;
        color: yellow;
    }
} */
@layer components {
    .flow > * + * {
        margin-top: 2em;
    }
    .flow-left > * + * {
        margin-left: 2em; 
    }
    .input {
        @apply px-4 py-1 rounded-3xl
    }
    .quantity-button {
        @apply rounded-full bg-yellow-500 inline-block text-sm font-semibold px-2.5 pt-0.5 pb-1 tracking-wide uppercase
    }
    .button {
        @apply rounded-full bg-yellow-500 inline-block uppercase font-semibold py-2 px-6
    }
    .form-label {
        @apply self-center basis-1/4 text-xl
    }
    .form-input {
        @apply basis-3/4 p-3 rounded-full
    }
}